.slogan{
    display: flex;
    align-items: center;
    color:rgb(40, 123, 153)
}
@media (max-width: 8000px) {
    .slogan {
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        margin-left: 50px;
        font-size: 100px;
        color: rgb(40, 123, 153);
    }
}
#barra{
    
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(40, 123, 153, 0.599);
    
   
}
div{
    color: rgb(0, 0, 0);
    font-size: 100%; font-weight: bolder;


}
ul{
    margin-left: 26%;
    text-align: center;
}

div{
    background-color:rgb(188, 203, 209);
}
.button{
    color: black;
    margin-block-end: 0%;
}